body {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #D3B395;
    color: #000000;
    padding: 20px;
}

header {
    text-align: center;
    font-family: "strenuous", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
}

header a{
    background-color: #EBE1D7;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.home #btn_1{
    background-color: #E9AF35;
}

#btn_1{
    padding-left: 83px;
    padding-right: 83px;
}

#btn_2{
    padding-left: 40px;
    padding-right: 40px;
}
#btn_3{
    padding-left: 30px;
    padding-right: 30px;
}

header a:hover {
    background-color: #E9AF35;
}

.title{
    background-image: url("../images/Head.png");
    background-size: cover;
    max-width: 1200px;
    padding-top: 344px;
    padding-bottom: 201px;
    background-position: center;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: transparent;
    font-size:12px;
    margin: 0;
    line-height: 1;
}

h2{
    font-family: "strenuous", sans-serif;
    font-weight: 700;
    font-style: normal;
}

main{
    width: 1250px;
    margin: auto;
}

#what-is-sushi, #sushi-usa, #sushi-history{
    display: flex;
}

li img{
    max-width: 500px;
    height: auto;
}

.info-card {
    background-color: #fff7e6;
    border: 3px solid #000000;
    border-radius: 15px;
    padding: 20px;
    max-width: 620px;
}

#special{
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
    margin:0 auto;
    width: 1200px;
    justify-content: space-between;
}

footer{
    font-family: "strenuous", sans-serif;
    font-weight: 700;
    font-style: normal;
}

footer div{
    background-color: #EBE1D7;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    color: black;

}

footer a{
    color: black;
    text-decoration: none;
}

footer div:hover {
    background-color: #E9AF35;
}

/** texture **/

.texture #btn_2{
    background-color: #E9AF35;
}

.title2{
    background-image: url("../images/head2.png");
    background-size: cover;
    max-width: 1200px;
    padding-top: 220px;
    padding-bottom: 199px;
    background-position: center;
    margin: 0 auto;
}

.textures{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 30px;
}

.textures li{
    list-style: none;
}

.textures li img{
    width: 271px;
    height: auto;
}

/**ways**/

.ways #btn_3{
    background-color: #E9AF35;
}

.title3{
    background-image: url("../images/head3.png");
    background-size: cover;
    max-width: 1200px;
    padding-top: 207px;
    padding-bottom: 199px;
    background-position: center;
    margin: 0 auto;
}

.left, .right{
    display: flex;
    flex-direction: column;
}

.big{
    display: flex;
}

