body{
    font-family: "Archivo Narrow", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

header{
    text-align: center;
    padding-top: 166px;
    background-image: url('../images/backg1.jpg');
    background-size: cover;
    padding-bottom: 188px;
    background-position: center;
    color:white;
}

h1{
    font-size:80px;
    margin: 0;
    line-height: 1;
}

h2{
    font-size:30px;
    margin: 0;
    margin-top: 16px;
    line-height: 1;
}

h3{
    font-size:40px;
    margin: 0;
    text-align: center;
    line-height: 1;
    padding-bottom: 20px;
}

.sec{
    margin: 0 auto;
    background-color: darkslategray;
    padding-bottom: 37px;
    color: white;
}

section>div{
    margin:auto;
    width: 960px;
    padding-top: 48px;
}

.floatimage{
    float:right;
    margin: 17px -1px 40px 40px;
    width:400px;
    border: 2px solid white;
}

p{
    font-size: 18px;

}

.grid{
    display: flex;
    flex-wrap: wrap;
}

ul{
    padding-top: 18px;
    width: 1000px;
    margin: auto;
    padding-bottom: 42px;
}

li{
    display:flex;
    width:48%;
    font-size: 0.8rem;
    margin-bottom: 23px;

}

.list>h3{
    padding-top: 49px;
}

li>div{
    margin-left: 12px;
}

strong{
    font-size: 20px;
}

li>div>p{
    max-width: 220px;
    margin-top: 6px;
}

.third>h3{
    padding-top: 46px;
}

.third>p{
    text-align: center;
    margin-left: 270px;
    margin-right: 270px;
    font-size: 26px;
    margin-top: 18px;
    line-height: 36px;
}

.third{
    background-color: cadetblue;
    padding-bottom: 73px;
    color: white;
}

footer{
    margin-left: 143px;
    margin-top: 43px;
}
